.todo-list {
    list-style: none;
    margin: 4rem;
    padding: 0;
  }
  
  .todo-list li {
    text-align: center;
    margin: 1rem 0;
    border: 1px solid #ccc;
    padding: 1rem;
    color: black;
    background-color: #3CBC8D;
  }